<div class="card h-full rounded-xl p-7 flex gap-8 flex-col">
  <div class="flex justify-between items-center">
    <div class="flex gap-3 items-center">
        <i class="pi pi-align-left text-2xl"></i>
        <b class="text-3xl">Direct Text Analyzer</b>
    </div>
    <div class="flex gap-2 items-center">
      <p-button
        label="Analyze"
        icon="pi pi-search"
        [loading]="pageState() === 'loading'"
        [disabled]="textValue().length === 0 || pageState() === 'result'"
        (onClick)="analyzeText()"
      />
      <p-button
        styleClass="remove"
        icon="pi pi-times"
        severity="danger"
        [disabled]="textValue().length === 0 || pageState() !== 'normal'"
        (onClick)="removeText()"
      />
    </div>
  </div>
  <div>
    Paste an article or news text into the field and press "Analyze" to see if
    it’s likely real or fake. This tool is experimental. Results may not be
    accurate, and we do not take responsibility for decisions made based on
    them.
  </div>
  @if(pageState()==='normal'){
  <div>
    <textarea
      [(ngModel)]="textValue"
      variant="filled"
      rows="26"
      cols="100"
      placeholder="Insert the article text here"
      class="w-full"
      pTextarea
    ></textarea>
    <div class="flex justify-end">
      <span class="">{{ textValue().length }}/500</span>
    </div>
  </div>
  }@else if (pageState() === 'loading') {
  <div>
    <div class="mb-5">
        @if(value()<30){
            <span class="text-4xl pb-3 fade-in-text fade-out-text">Processing Text...</span>
        } @else if(value()>=30 && value() <=60){
            <span class="text-4xl pb-3 fade-in-text fade-out-text">Analyzing...</span>
        } @else if (value() > 60){
            <span class="text-4xl pb-3 fade-in-text fade-out-text">Loading...</span>
        }
    </div>
    <p-progressbar [value]="value()" />
  </div>
  } @else if (pageState() === 'result') {
  <div class="flex flex-col gap-5 justify-center items-center h-[70%]">
    @if(isValid()){
    <i
      class="pi pi-thumbs-up-fill"
      style="font-size: 10rem; color: #6cba59"
    ></i>
    <span class="text-4xl">This article is valid</span>
    }@else {
    <i
      class="pi pi-thumbs-down-fill"
      style="font-size: 10rem; color: #f87171"
    ></i>
    <span class="text-4xl">This article is not valid</span>
    }
    <span class="text-xl">Confidence: {{ precision() }}%</span>
    <p-button
      label="Refresh"
      icon="pi pi-refresh"
      [loading]="pageState() === 'loading'"
      [disabled]="textValue().length === 0"
      (onClick)="refresh()"
    />
  </div>
  }
</div>
